html, body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

a {
    color: #4f3674;
    text-decoration: none;
}

address > a {
    font-weight: bold;
    font-size: 1.25em;
}

a:hover {
    text-decoration: underline;
    color: #D6A800;
}

a:visited {
    color: gray;
}

.last {
    margin-top: 20%;
    float: right;
    margin-bottom: 20px;
}

img {
    max-width: 50%;
    height: auto;
}